


.aal{
    text-align: center;
}

#menu{
    background-color: rgb(146, 189, 243);
    width: 100%;
    height: 40px;
    font-weight: 700;
}
#menu ul li{
    list-style-type: none;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
#menu ul li a{
    text-decoration: none;
    color: black;
}
#menu ul li a:hover{
    background-color: aquamarine;
    transition: 0.20s;
    text-transform: uppercase;
}
#senter{
    text-align: center;
}